

  <div class="row top-bar">
    <div class="col-xs-2 col-sm-2 col-lg-2 col-xl-2">
      <a href="/" class="login">
        <img src="assets/images/logo.png" class="image-responsive">
      </a>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 user-action">
      <div class="button">
        <ul>
          <li *ngIf="isLoggedIn">
            <a>{{userName}}</a> <a (click)="logout()" routerLink = ''>Log out</a>
          </li>
          <li *ngIf="!isLoggedIn"><a (click)="login()">Login</a></li>
          <li><a *ngIf="isLoggedIn" routerLink= 'user/account'><button class="btn-danger">Account</button></a> </li>
        </ul>
      </div>
      <div class="row header">
        <nav>
          <ul class='options'>
            <span (mouseenter)="hover=true" (mouseleave)="hover=false" class="hoverItem">
            <li><a href="#">WHY IMPERFECT?</a></li>
            <div *ngIf= "hover" class ="why">
              <ul class="info">
                <li>HOW IT WORKS</li>
                <li>OUR PRODUCE</li>
                <li>OUR SOURCING</li>
                <li>OUR PROMISE</li>
              </ul>
            </div>
          </span>
            <li><a href="#">CUSTOMAZATION 101</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
