
body{
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
};

.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left:auto;
}

.row {
  border-bottom: 1px dashed #cfcfcf;
  max-width: 1400px;
  padding: 0 1.071em 0 1.071em;
  font-size: 14px;
  padding-top: 10px;
  margin-right: -15px;
  margin-left: -15px;
  float: left;
}

.col-lg-2{
  width: 16.666%
}

.login img{
  height: 105px;
  width: auto !important;
  margin-bottom: 8px;
  margin-top:40px;
}

.btn-danger{
  background-color: #CA0183;
  padding: 0.357em 1.071em;
}


.top-bar .user-action .login{
  margin-right: -15px;
}
.button{
  float: right;
}

.user-action ul, li, a{
  display: inline-block;
  list-style: none;
  margin-left:1.071em;
  padding:0px;
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.header{
  background-color: #fff;
  padding-top: 1.071em;
}

nav{
  position: relative;
  text-align: right;
  max-width:100%;
  overflow: visible !important;
  margin-left: 60px;
  margin-top: 25px;
}
.header{
  margin-top: 1.071em;
  border-bottom: none;
  float: right;
}

.header li {
  float: left;
  margin: 0.5355em,1.071em,0.5255em,1.071em;
}
.user-action, ul, li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  position: relative;
  margin-bottom: 10px;
}
.why{
  position: absolute;
  z-index: 1;
}

.why .info li{
  display: block;
  float: none !important;
}
