<head><link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"></head>
<div class="container-fluid">
  <div class="row top-bar">
    <div class="col-xs-2 col-sm-2 col-lg-2">
      <a href="/" class="login">
        <img class="img-responsive" src="assets/images/logo.png">
      </a>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 user-action">
      <div class ="button">
        <ul>
          <li><a href="#">Login</a></li>
          <li><button class="btn-danger">Sign Up</button> </li>
        </ul>
      </div>
      <div class="row header">
        <nav>
          <ul class='options'>
            <li><a (mouseover) = "hover=true" href="#">WHY IMPERFECT?</a></li>
            <div *ngIf= "hover" class ="why">
              <ul class="info">
                <li>why</li>
                <li>why</li>
                <li>why</li>
              </ul>
            </div>
            <li><a href="#">CUSTOMAZATION 101</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
