<div class="container-fluid">
  <div class="row top-bar">
    <div class="col-xs-2 col-sm-2 col-lg-2">
      <a href="/" class="login">
        <img class="img-responsive" src="assets/images/logo.png">
      </a>
    </div>
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 user-action">
      <div class ="login">
        <ul>
          <li><a href="#">Login</a></li>
          <li><button class="btn-danger">Sign Up</button> </li>
        </ul>
      </div>
      <div class="row header">
        <nav>
          <ul class='options'>
            <li><a href="#">Why Imperfect?</a></li>
            <li><a href="#">Customaization 101</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
