<footer class="col-md-12">
  <div class="max-width">
    <div class="row">
      <div class="col-sm-12 top-footer">
        <div class="col-sm-3">
          <h2 class="sub-header">FOLLOW US</h2>
          <ul class="social">
            <li>
              <a href="https://www.facebook.com/imperfectproduce" target="_blank">
                <svg-icon src="assets/images/facebook.svg" [stretch]="true" [svgStyle]="{'width.px':30,'fill':'rgb(150,50,255)','padding.px':1,'margin.px':3}">
                </svg-icon>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/Imperfectfruit" target="_blank"></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/imperfectfruit/" target="_blank"></a>
            </li>
            <li>
              <a href="https://www.instagram.com/imperfectproduce/" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
