.banner{
  background-image: url("/assets/images/produce.jpg");
  position: relative;
  text-align: center;
  height: 614px;
  background-position: center center !important;
  background-size: cover !important;
  width: 100%;
}