<!-- first section -->
<div class="banner">
  <div class="row">
    <div class="info col-md-4">
      <h1>Ugly Produce. Delivered.</h1>
      <p>Healthy, delicious fruits and veggies for 30-50% less than grocery stores, delivered to your door.</p>
      <button class="btn-primary">Sign Up</button>
    </div>
  </div>
</div>
<!-- second section -->
<div class="row community">
  <div class="col-md-3">
    <img src="assets/images/lemon.jpg" />
  </div>
  <div class="col-md-12 stats">
    <div class="row">
      <div class="col-sm-5">
        <h1>
          <span>30</span>M
        </h1>
        <p>
          POUNDS OF FOOD SAVED
        </p>
      </div>
      <div class="col-sm-5">
        <h1>
          <span>900</span>M
        </h1>
        <p>
          GALLONS OF WATER SAVED
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <h1>
          <span>$12</span>M
        </h1>
        <p>
          DOLLARS SAVED ON GROCERIES </p>
      </div>
      <div class="col-sm-5">
        <h1>
          <span>91</span>M
        </h1>
        <p>
          POUNDS OF CO2 SAVED
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h2>Our community is changing the world!</h2>
    <p>Fact: 1 in 5 fruits and veggies grown in the U.S. don't meet cosmetic standards – the crooked carrot, the curvy cucumber,
      the undersized apple – usually causing them to go to waste. We’re here to change that.</p>
    <button class="btn-primary impact">Make An Impact!</button>
    <p class="small">Sources:
      <a href="http://wfn.project-platforms.com/Reports/Report47-WaterFootprintCrops-Vol1.pdf" target="_blank">UNESCO</a>
      <a href="http://www.ewg.org/meateatersguide/" target="_blank">Environmental Working Group</a>
    </p>
  </div>
</div>
<!-- how it  works -->
<div class="row how-it-works">
  <img class="hero block" src="assets/images/howitworks.jpg" />
</div>
