.banner{
  background-image: url("/assets/images/produce.jpg");
  position: relative;
  text-align: center;
  height: 614px;
  background-position: center center !important;
  background-size: cover !important;
  width: 100%;
}

.col-md-4{
  width: 33.33333333%;
}

.banner .info{
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  padding: 5.355em 1.071em;
  width: 25%;
  margin-left: 15em;
  text-align: left;
}

.banner .info h1{
  text-transform: none;
  font-weight: 300;
  font-size: 45px;
  line-height: 60px;
  margin-bottom: 10px;  
}

.banner .info p{
  max-width: 20em;
}

 .btn-primary{
  padding: 4px 8em;
  background-color: #CA0183;
  border: none; 
}

/* Next Section */

.community{
  padding: 3.213em 0;
   margin-right: -15px;
  margin-left: -15px;
}

img{
  display: block;
  max-width: 100%;
  width: auto;
}

.stats{
  max-width:40%;
}
.stats h1 {
  font-size: 68px;
  font-weight: 200;
}

.stats span{
  font-weight: bold;
  color: #01BF81;
}

.stats p{
  font-weight: 700;
  font-family: "FilsonSoftHeavy",sans-serif;
  font-size: 14px;
}

.row .col-md-4 .impact{
  margin: 15px 0px;
}

.small{
  font-size: 14px;
}
.small a{
  color: #23CB8B;
  cursor: pointer;
}